<h2>Tシャツを追加する</h2>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <%= form_for @image do |f| %>
            <div class="form-group">
                <%= f.label :Tシャツの写真 %>
                <%= f.file_field :image %>
            </div>

            <div class="form-group">
                <%= f.label :Tシャツの詳細 %>
                <%= f.text_area :description, class: 'form-control' %>
            </div>

            <div>
            <a><%= f.submit "Tシャツを追加する", class: 'btn-gradient-radius' %></a>
            </div>
        <% end %>
    </div>
</div>

